#chat
{
    position: absolute;
    height: 250px;
    width: 315px;
    bottom: 0;
    left: 0;
    font-family: arial;
    font-size: 11pt;
    color: #444;
    margin: 5px;
}

#chat p
{
    margin: 0;
}

#chat #history
{
    position: absolute;
    margin-bottom: 5px;
    bottom: 15px;
}

#chat textarea
{
    border: none;
    resize: none;
    height: 100%;
    overflow: hidden;
}

#chat #input_area #input_prefix
{
    width: 10px;
    float: left;
}

#chat #input_area
{
    float: left;
    height: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
}
